@model GSA_CF.Models.Classificacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Classificacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_aluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_aluno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_uc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_uc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_epoca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_epoca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obs)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
